/* variables
------------------------------------------------------------*/
$main-fonts: "shippori-mincho-b1", sans-serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;
$green-cl: #559c21;
$dominant-cl: unset;

:root {
  --app-height: 100vh;
  --menu-height: 100vh;
  --padd: min(17.361vw, 250px);
  --paddsp: 20px;
}
