/* -------------------------------------------------------------------------- */
/*                                 about page                                 */
/* -------------------------------------------------------------------------- */

.aboutpage {
  // ===== about =====
  .about {
    &_title {
      &.--center {
        text-align: center;

        span {
          margin-left: auto;
          margin-right: auto;
        }
      }

      h3 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.45;
        font-feature-settings: "palt" 1;
      }

      span {
        margin-top: 20px;
        display: block;
        width: 40px;
        height: 3px;
        background-color: $green-cl;
        border-radius: 10px;
      }

      @include maxW(1023px) {
        h3 {
          font-size: 1.7rem;
          text-align: center;
        }

        span {
          width: 25px;
          margin: 15px auto 0;
        }
      }
    }

    &_intro {
      margin-top: 150px;
      position: relative;
      width: 100vw;
      overflow: hidden;

      &_title {
        margin: 45px auto 30px;
        display: flex;
        justify-content: center;

        h3 {
          font-size: 3rem;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 2px;
          writing-mode: vertical-rl;
        }
      }

      &_content {
        margin-top: 120px;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.82;
        font-feature-settings: "palt" 1;
      }

      &_circle {
        &.--circle1 {
          width: min(20.347vw, 293px);
          margin-left: 20.972vw;
        }

        &.--circle2 {
          width: min(33.264vw, 479px);
          position: absolute;
          top: 5.556vw;
          right: -65px;
        }

        &.--circle3 {
          width: min(36.042vw, 519px);
          position: absolute;
          top: calc(min(20.347vw, 293px) + 50px);
          left: -128px;
        }

        &.--circle4 {
          width: min(20.278vw, 292px);
          margin-left: auto;
          margin-right: 21.458vw;
        }

        picture {
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }

      @include maxW(1023px) {
        margin-top: 120px;

        &_title {
          margin: 40px auto 10px;

          h3 {
            font-size: 1.9rem;
          }
        }

        &_content {
          margin-top: 80px;
          font-size: 1.4rem;
          line-height: 1.7;
        }

        &_circle {
          &.--circle1 {
            width: min(28.986vw, 120px);
            margin-left: 12.077vw;
          }

          &.--circle2 {
            width: min(51.208vw, 212px);
            top: 9.662vw;
            right: -57px;
          }

          &.--circle3 {
            width: min(54.831vw, 227px);
            top: calc(min(28.986vw, 120px) + 146px);
            left: -65px;
          }

          &.--circle4 {
            width: min(25.604vw, 106px);
            margin-right: 9.662vw;
          }
        }
      }
    }

    &_archive {
      margin-top: 200px;

      &_swiper {
        margin-top: 80px;
        position: relative;
        width: 100%;
        overflow: hidden;

        picture {
          padding-bottom: calc(480 / 720 * 100%);
          border-radius: 80px;
        }
      }

      &_content {
        margin-top: 30px;
        font-size: 1.4rem;
        line-height: 1.5;
        opacity: 0.5;
        text-align: center;
      }

      @include maxW(1023px) {
        margin-top: 120px;

        &_swiper {
          margin-top: 45px;

          picture {
            border-radius: 40px;
          }
        }

        &_content {
          margin-top: 15px;
          font-size: 1.2rem;
        }
      }
    }

    &_info {
      margin-top: 200px;

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.75;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        margin-top: 120px;

        p {
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }
    }

    &_table {
      margin-top: 80px;

      tr {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 81.915%;
        gap: 20px;
        border-top: 2px solid #dcead2;
        padding: 40px 0;

        &:last-child {
          border-bottom: 2px solid #dcead2;
        }
      }

      @include maxW(1023px) {
        margin-top: 45px;

        tr {
          grid-template-columns: repeat(1, 1fr);
          gap: 12px;
          padding: 25px 0;
        }
      }
    }
  }

  // ===== ishikawa =====
  .ishikawa {
    &_thumb {
      &_main {
        &:after {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }

      &_logo {
        img {
          width: 230px;
          height: auto;
          object-fit: contain;
        }
      }

      @include maxW(1023px) {
        &_logo {
          img {
            width: 156px;
          }
        }
      }
    }

    &_inner {
      margin-top: 150px;

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.79;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        margin-top: 120px;

        p {
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }
    }

    &_content {
      margin-top: 80px;
      padding: 0 6.25vw;

      @include maxW(1023px) {
        margin-top: 45px;
        padding: 0;
      }
    }

    &_basic {
      &_thumb {
        position: relative;

        picture {
          padding-bottom: calc(627 / 940 * 100%);
          border-radius: 80px;
        }

        .txt {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          display: flex;
          justify-content: center;

          h3 {
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            color: $white-cl;
          }
        }
      }

      &_trees {
        margin-top: 90px;

        picture {
          padding-bottom: calc(733 / 940 * 100%);
          border-radius: 80px;
        }
      }

      @include maxW(1023px) {
        &_thumb {
          picture {
            padding-bottom: 100%;
            border-radius: 40px;
          }

          .txt {
            h3 {
              font-size: 1.9rem;
            }
          }
        }

        &_trees {
          margin-top: 45px;

          picture {
            padding-bottom: calc(307 / 374 * 100%);
            border-radius: 40px;
          }
        }
      }
    }

    &_philo {
      &_thumb {
        margin-top: 80px;

        picture {
          padding-bottom: calc(627 / 940 * 100%);
          border-radius: 80px;
        }
      }

      @include maxW(1023px) {
        &_thumb {
          margin-top: 45px;

          picture {
            padding-bottom: 100%;
            border-radius: 40px;
          }
        }
      }
    }

    &_feature {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;

      &.--reverse {
        .ishikawa_feature_left {
          order: 1;
        }
      }

      &_left {
        picture {
          border-radius: 40px;
          aspect-ratio: 1/1;
        }
      }

      &_content {
        margin-top: 45px;
      }

      @include maxW(1023px) {
        display: block;

        &_thumb {
          margin-top: 45px;
        }
      }
    }

    &_mess {
      &_grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 34.043% 1fr;
        gap: 80px;
      }

      &_left {
        picture {
          border-radius: 40px;
          aspect-ratio: 1/1;
        }
      }

      &_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
      }

      &_sign {
        text-align: right;
        margin-left: auto;
      }

      @include maxW(1023px) {
        &_grid {
          margin-top: 45px;
          display: block;
        }

        &_right {
          margin-top: 45px;
          gap: 55px;
        }
      }
    }
  }
}
