/* -------------------------------------------------------------------------- */
/*                                 about page                                 */
/* -------------------------------------------------------------------------- */

.aboutpage {
  // ===== about =====
  .about {
    &_title {
      &.--center {
        text-align: center;

        span {
          margin-left: auto;
          margin-right: auto;
        }
      }

      h3 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.45;
        font-feature-settings: "palt" 1;
      }

      span {
        margin-top: 20px;
        display: block;
        width: 40px;
        height: 3px;
        background-color: $green-cl;
        border-radius: 10px;
      }

      @include maxW(1023px) {
        h3 {
          font-size: 1.7rem;
          text-align: center;
        }

        span {
          width: 20px;
          margin: 15px auto 0;
        }
      }
    }

    &_info {
      margin-top: 200px;

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.75;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        margin-top: 120px;

        p {
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }
    }

    &_table {
      margin-top: 80px;

      tr {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 81.915%;
        gap: 20px;
        border-top: 2px solid #dcead2;
        padding: 40px 0;

        &:last-child {
          border-bottom: 2px solid #dcead2;
        }
      }

      @include maxW(1023px) {
        margin-top: 45px;

        tr {
          grid-template-columns: repeat(1, 1fr);
          gap: 12px;
          padding: 25px 0;
        }
      }
    }

    &_bnr {
      margin-top: 120px;
      width: 100%;
      padding: 60px;
      background-color: #f5f4ec;
      border-radius: 80px;
      display: grid;
      grid-template-columns: 1fr 57.927%;
      gap: 60px;

      &_left {
        position: relative;
        z-index: 1;

        picture {
          border-radius: 50%;
          aspect-ratio: 1/1;

          &.--overlay {
            &:after {
              background-color: rgba($color: #000000, $alpha: 0.2);
            }
          }
        }
      }

      &_right {
        h3 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.35;
        }

        a {
          margin-top: 75px;
          width: 360px;
          height: 60px;
          background-color: $white-cl;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          position: relative;
          border-radius: 60px;

          svg {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
          }
        }
      }

      &_content {
        margin-top: 35px;

        p {
          font-size: 1.5rem;
          line-height: 1.7;
        }
      }

      @include maxW(1023px) {
        margin-top: 80px;
        padding: 60px 20px;
        border-radius: 40px;
        display: block;

        &_left {
          padding: 0 60px;
        }

        &_right {
          margin-top: 32px;

          h3 {
            font-size: 1.6rem;
            text-align: center;
          }

          a {
            margin-top: 60px;
            width: 100%;
            font-size: 1.4rem;

            svg {
              width: 16px;
              height: auto;

              &.window {
                width: 17px;
              }
            }
          }
        }

        &_content {
          margin-top: 30px;

          p {
            font-size: 1.3rem;
            line-height: 1.65;
          }
        }
      }
    }
  }

  // ===== ishikawa =====
  .ishikawa {
    &_thumb {
      &_main {
        &:after {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }

      &_logo {
        img {
          width: 230px;
          height: auto;
          object-fit: contain;
        }
      }

      @include maxW(1023px) {
        &_logo {
          img {
            width: 156px;
          }
        }
      }
    }

    &_inner {
      margin-top: 150px;

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.79;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        margin-top: 120px;

        p {
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }
    }

    &_content {
      margin-top: 80px;
      padding: 0 6.25vw;

      @include maxW(1023px) {
        margin-top: 45px;
        padding: 0;
      }
    }

    &_basic {
      &_thumb {
        position: relative;

        picture {
          padding-bottom: calc(627 / 940 * 100%);
          border-radius: 80px;
        }

        .txt {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;

          h3 {
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.4;
            writing-mode: vertical-rl;
            color: $white-cl;
          }
        }
      }

      &_trees {
        margin-top: 90px;

        picture {
          padding-bottom: calc(733 / 940 * 100%);
          border-radius: 80px;
        }
      }

      @include maxW(1023px) {
        &_thumb {
          picture {
            padding-bottom: 100%;
            border-radius: 40px;
          }

          .txt {
            h3 {
              font-size: 1.9rem;
            }
          }
        }

        &_trees {
          margin-top: 45px;

          picture {
            padding-bottom: calc(307 / 374 * 100%);
            border-radius: 40px;
          }
        }
      }
    }

    &_philo {
      &_thumb {
        margin-top: 80px;

        picture {
          padding-bottom: calc(627 / 940 * 100%);
          border-radius: 80px;
        }
      }

      @include maxW(1023px) {
        &_thumb {
          margin-top: 45px;

          picture {
            padding-bottom: 100%;
            border-radius: 40px;
          }
        }
      }
    }

    &_feature {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;

      &.--reverse {
        .ishikawa_feature_left {
          grid-column: 2;
          grid-row: 1;
        }
      }

      &_left {
        picture {
          border-radius: 40px;
          aspect-ratio: 1/1;
        }
      }

      &_content {
        margin-top: 45px;
      }

      @include maxW(1023px) {
        display: block;

        &_thumb {
          margin-top: 45px;
        }
      }
    }

    &_mess {
      &_grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 34.043% 1fr;
        gap: 80px;
      }

      &_left {
        picture {
          border-radius: 40px;
          aspect-ratio: 1/1;
        }
      }

      &_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
      }

      &_sign {
        text-align: right;
        margin-left: auto;
      }

      @include maxW(1023px) {
        &_grid {
          margin-top: 45px;
          display: block;
        }

        &_right {
          margin-top: 45px;
          gap: 55px;
        }
      }
    }
  }
}
