/* -------------------------------------------------------------------------- */
/*                               education page                               */
/* -------------------------------------------------------------------------- */

.educationpage {
  //  ===== education =====
  .education {
    &_intro {
      margin-top: 150px;

      h3 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.54;
        text-align: center;
      }

      picture {
        margin-top: 80px;
        padding-bottom: calc(627 / 940 * 100%);
        border-radius: 80px;
      }

      &_content {
        margin-top: 80px;
        padding: 0 6.25vw;

        p {
          font-size: 1.6rem;
          line-height: 2;
          text-align: justify;
          font-feature-settings: "palt" 1;
        }
      }
    }

    &_info {
      margin-top: 200px;
    }

    @include maxW(1023px) {
      &_intro {
        margin-top: 120px;

        h3 {
          font-size: 1.9rem;
        }

        picture {
          margin-top: 45px;
          padding-bottom: 100%;
          border-radius: 40px;
        }

        &_content {
          margin-top: 45px;
          padding: 0;

          p {
            font-size: 1.3rem;
            line-height: 1.7;
          }
        }
      }

      &_info {
        margin-top: 120px;
      }
    }
  }

  // ===== basic =====
  .basic {
    &_swiper {
      margin-top: 200px;
      width: 100%;
      position: relative;
      overflow: hidden;

      picture {
        padding-bottom: calc(507 / 760 * 100%);
        border-radius: 80px;
      }
    }

    &_content {
      margin-top: 30px;
      padding: 0 10.526%;

      h3 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.45;
        text-align: center;
      }

      &_editor {
        margin-top: 30px;

        p {
          font-size: 1.5rem;
          line-height: 1.7;
          font-feature-settings: "palt" 1;
          text-align: justify;
        }
      }
    }

    @include maxW(1023px) {
      &_swiper {
        margin-top: 120px;

        picture {
          padding-bottom: calc(216 / 324 * 100%);
          border-radius: 40px;
        }
      }

      &_content {
        margin-top: 15px;
        padding: 0 9.259%;

        h3 {
          font-size: 1.6rem;
        }

        &_editor {
          margin-top: 20px;

          p {
            font-size: 1.3rem;
            line-height: 1.72;
          }
        }
      }
    }
  }
}
