/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  // ===== fv =====
  .fv {
    position: relative;

    &_container {
      position: relative;
      width: 100%;
      height: var(--app-height);
    }

    &_swiper {
      width: 68.056vw;
      height: 68.056vw;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      pointer-events: none;

      picture {
        display: block;
        position: relative;
        z-index: 1;
        height: 100%;
        padding-bottom: 100%;
        border-radius: 5px;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.2);
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 200%);
      z-index: 2;

      &_inner {
        width: 100%;
        text-align: center;

        p {
          font-size: 2rem;
          font-feature-settings: "palt" 1;
          line-height: 2.7;
          color: $white-cl;
        }
      }
    }

    &_overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #2e580f;
      z-index: 1;
      opacity: 0;
    }

    &_heading {
      position: absolute;
      top: 150px;
      right: 45px;
      z-index: 2;

      h2 {
        width: 100%;
        font-size: 3.2rem;
        line-height: 1.3;
        font-weight: 500;
        letter-spacing: 1px;
        writing-mode: vertical-rl;
        font-feature-settings: normal;
      }
    }

    &_desc {
      position: absolute;
      bottom: 40px;
      left: 40px;
      z-index: 2;
      font-size: 1.5rem;
      font-feature-settings: "palt" 1;
      line-height: 1.5;
    }

    &_leaf {
      position: absolute;
      bottom: 90px;
      right: -10px;
      z-index: 2;
    }

    &_scrolldown {
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      overflow: hidden;

      span {
        display: block;
        width: 2px;
        height: 60px;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          animation: scrolldown 2.2s infinite;
          background-color: $white-cl;
        }
      }

      @keyframes scrolldown {
        0% {
          transform: scale(1, 0);
          transform-origin: 0 0;
        }

        50% {
          transform: scale(1, 1);
          transform-origin: 0 0;
        }
        51% {
          transform: scale(1, 1);
          transform-origin: 0 100%;
        }
        100% {
          transform: scale(1, 0);
          transform-origin: 0 100%;
        }
      }
    }

    @include maxW(1023px) {
      &_container {
        overflow: hidden;
      }

      &_swiper {
        width: 107.952vw;
        height: 107.952vw;

        picture {
          &:after {
            background-color: rgba($color: #000000, $alpha: 0.05);
          }
        }
      }

      &_content {
        margin-top: 120px;
        position: unset;
        transform: none;

        &_inner {
          p {
            font-size: 1.6rem;
            line-height: 2.1;
            color: $black-cl;
          }
        }
      }

      &_heading {
        top: 65px;
        right: 20px;

        h2 {
          font-size: 1.9rem;
        }
      }

      &_desc {
        bottom: 24px;
        left: 20px;
        font-size: 1.3rem;
      }

      &_leaf {
        bottom: 100px;
        right: -10px;

        svg {
          transform: rotate(18deg);
          width: 94.16px;
          height: auto;
        }
      }
    }
  }

  // ===== news =====
  .news {
    &_container {
      margin-top: 300px;
    }

    &_link {
      margin: 100px auto 0;
      font-size: 1.8rem;
      width: fit-content;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 120%;
        height: 2px;
        border-radius: 10px;
        background-color: $green-cl;
      }
    }

    @include maxW(1023px) {
      &_container {
        margin-top: 120px;
      }

      &_link {
        margin: 60px auto 0;
        font-size: 1.4rem;

        &:after {
          bottom: -10px;
        }
      }
    }
  }

  // ===== about =====
  .about {
    &_container {
      position: relative;
      margin-top: 250px;
      padding: 0 40px;

      @include maxW(1023px) {
        margin-top: 130px;
        padding: 0 var(--paddsp);
      }
    }

    &_heading {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      svg {
        margin: 0 auto;
      }

      h2 {
        width: fit-content;
        margin: 15px auto 0;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 1px;
        writing-mode: vertical-rl;
        font-feature-settings: normal;
        color: $white-cl;
      }

      @include maxW(1023px) {
        top: 45px;

        h2 {
          margin: 10px auto 0;
          font-size: 2rem;
        }

        svg {
          width: 45.59px;
          height: auto;
        }
      }
    }

    &_content {
      position: absolute;
      bottom: 70px;
      z-index: 2;
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px;
      gap: 48px;
      text-align: center;

      p {
        font-size: 1.6rem;
        line-height: 1.75;
        font-feature-settings: "palt" 1;
        color: $white-cl;
      }

      @include maxW(1023px) {
        bottom: 45px;
        gap: 45px;

        p {
          font-size: 1.4rem;
        }
      }
    }

    &_btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $white-cl;
      display: flex;
      align-items: center;
      justify-content: center;

      @include maxW(1023px) {
        width: 40px;
        height: 40px;

        svg {
          width: 16px;
          height: auto;
        }
      }
    }

    &_thumb {
      position: relative;

      picture {
        border-radius: 80px;
        overflow: hidden;

        &:after {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }

      &_bigger {
        picture {
          padding-bottom: calc(680 / 1380 * 100%);
        }

        .about_heading {
          left: auto;
          right: 120px;
          transform: none;
        }

        .about_content {
          padding: 0 80px;
          align-items: flex-start;
          text-align: start;
        }
      }

      @include maxW(1023px) {
        picture {
          border-radius: 40px;

          &:after {
            background-color: rgba($color: #000000, $alpha: 0.25);
          }
        }

        &_bigger {
          picture {
            padding-bottom: calc(561 / 374 * 100%);
          }

          .about_heading {
            left: 50%;
            transform: translateX(-50%);
          }

          .about_content {
            padding: 0 20px;
            text-align: center;
            align-items: center;
          }
        }
      }
    }

    &_swiper {
      margin-top: 150px;
      position: relative;
    }
  }
}
